{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/offerings.css"/>
<link rel="stylesheet" href="/static/css/getmdl-select.min.css">
{% endblock %}

{% block extra_js %}
<script src="/static/js/tree.min.js"></script>
<script src="/static/js/offerings.js"></script>
<script src="/static/js/styles.js"></script>
<script defer src="/static/js/getmdl-select.min.js"></script>
{% endblock %}

{% block content %}
<form method="GET">

  <div class="mdl-grid">
    <!--Shop-->
    <div class="mdl-cell mdl-cell--2-col">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height">
        <input type="text" value="" class="mdl-textfield__input" id="shop_id" readonly>
        <input type="hidden" value="" name="shop_id" onchange="this.form.submit()">
        <label for="shop_id" class="mdl-textfield__label">Shop</label>
        <ul for="shop_id" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
          <li class="mdl-menu__item" data-val=""{% if not shop_id %} data-selected="true"{% endif %}>All</li>
          {% for shop in shops %}
          <li class="mdl-menu__item" data-val="{{shop.shop_id}}"{% if shop.shop_id == shop_id %} data-selected="true"{% endif %}>
            {{shop.name}}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <!--Value Factor-->
    <div class="mdl-cell mdl-cell--2-col">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height">
        <input type="text" value="" class="mdl-textfield__input" id="value_factor" readonly>
        <input type="hidden" value="" name="value_factor" onchange="this.form.submit()">
        <label for="value_factor" class="mdl-textfield__label">Profile</label>
        <ul for="value_factor" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
          <li class="mdl-menu__item" data-val="1"{% if value_factor == 1 %} data-selected="true"{% endif %}>
            The Cheapest Stuff
          </li>
          <li class="mdl-menu__item" data-val="2"{% if value_factor == 2 %} data-selected="true"{% endif %}>
            Great Deals
          </li>
          <li class="mdl-menu__item" data-val="4"{% if value_factor == 4 %} data-selected="true"{% endif %}>
            Balanced Drinker
          </li>
          <li class="mdl-menu__item" data-val="8"{% if not value_factor or value_factor == 8 %} data-selected="true"{% endif %}>
            Salaryman Connoiseur
          </li>
          <li class="mdl-menu__item" data-val="12"{% if value_factor == 12 %} data-selected="true"{% endif %}>
            High Class
          </li>
          <li class="mdl-menu__item" data-val="99999999999"{% if value_factor == 99999999999 %} data-selected="true"{% endif %}>
            I Spare No Expense
          </li>
        </ul>
      </div>
    </div>
    <!--Search-->
    <div class="mdl-cell mdl-cell--2-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" name="search" id="search-input" value={{search or ""}}>
      <label class="mdl-textfield__label" for="search_input">Search</label>
    </div>
    <!--Price-->
    <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--1-col">
      <input class="mdl-textfield__input" type="text" pattern="[0-9]*" name="min_price" id="min_price" value={{min_price or ""}}>
      <label class="mdl-textfield__label" for="min_price">¥ Min</label>
      <span class="mdl-textfield__error">That's not a number.</span>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--1-col">
      <input class="mdl-textfield__input" type="text" pattern="[0-9]*" name="max_price" id="max_price" value={{max_price or ""}}>
      <label class="mdl-textfield__label" for="max_price">¥ Max</label>
      <span class="mdl-textfield__error">That's not a number.</span>
    </div>
    <!--Had-->
    {% if user is not none %}
    <div class="mdl-cell mdl-cell--1-col vertical-center shrink-width">
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="had-checkbox" id="had-label">
        <input type="checkbox" name="exclude_had" id="had-checkbox" class="mdl-checkbox__input" {% if exclude_had %}checked{% endif %}>
        <span class="mdl-checkbox__label"><i class="fas fa-comment-slash"></i></span>
      </label>
      <div class="mdl-tooltip" data-mdl-for="had-label">
        Exclude beers you have checked in
      </div>
    </div>
    {% endif %}
    <!--Styles-->
    <div class="mdl-cell mdl-cell--1-col vertical-center shrink-width">
      <input type="hidden" value="" name="styles" id="styles-input">
      <button id="styles-button" type="button" class="mdl-button mdl-js-button mdl-button--raised" onclick="toggleStyleMenu(); event.stopPropagation()">
        Styles
      </button>
      <div id="style-menu" class="mdl-shadow--2dp hidden">
        <div style="margin: 10px 0px 0px 15px;">
          <a href="#" onclick="selectAllStyles()">Select all</a> /
          <a href="#" onclick="clearAllStyles()">Clear</a>
        </div>
        <div id="style-tree"></div>
      </div>
    </div>
    <!--Countries-->
    <div class="mdl-cell mdl-cell--1-col vertical-center shrink-width">
      <input type="hidden" value="" name="countries" id="countries-input">
      <button id="countries-button" type="button" class="mdl-button mdl-js-button mdl-button--raised" onclick="toggleCountryMenu(); event.stopPropagation()">
        Countries
      </button>
      <div id="country-menu" class="mdl-shadow--2dp hidden" style="max-height: 400px; overflow-y: auto; z-index: 1000;">
        <div style="margin: 10px 0px 0px 15px;">
          <a href="#" onclick="selectAllCountries()">Select all</a> /
          <a href="#" onclick="clearAllCountries()">Clear</a>
        </div>
        <ul style="list-style: none; padding: 10px;">
          {% for country, count in countries %}
          <li>
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="country-{{loop.index}}">
              <input type="checkbox" id="country-{{loop.index}}" class="mdl-checkbox__input country-checkbox" value="{{country}}" {% if country in selected_countries %}checked{% endif %}>
              <span class="mdl-checkbox__label">{{country}} ({{count}})</span>
            </label>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <!--Submit-->
    <div class="mdl-cell mdl-cell--1-col vertical-center shrink-width">
      <button type="submit" onclick="updateStyles(); updateCountries()" data-upgraded=",MaterialButton" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
        <i class="fas fa-redo" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</form>
<div class="mdl-grid">
  {% for beer in beers %}
  <div class="mdl-cell mdl-cell--4-col">
    {% include "offering_card.html" %}
  </div>
  {% endfor %}
</div>

<script src="https://cdn.scaleflex.it/filerobot/js-cloudimage-responsive/lazysizes.min.js"></script>
<script src="https://cdn.scaleflex.it/plugins/js-cloudimage-responsive/4.6.6/js-cloudimage-responsive.min.js"></script>
<script/>
  const ciResponsive = new window.CIResponsive({
    token: "azcojmscrq",
    lazyLoading: true
  });
  window.lazySizes.init();
  (function () {
    initStyleTree(
      '#style-tree',
      {{grouped_styles|tojson|safe}},
      {{enabled_styles|tojson|safe}},
    );
  })();
</script>


{% endblock %}
