<div class="demo-card-wide mdl-card mdl-shadow--2dp">
  <a class="mdl-card__title" href="https://untappd.com/beer/{{beer.beer_id}}"
     ci-bg-url="{{beer.offerings[0].image_url or beer.image_url}}"
     ci-params="h=200&func=crop&gravity=auto"
     style="background:#fff 50% 50% / cover no-repeat;color:#fff;">
    <h2 class="mdl-card__title-text beer-title">
      {{beer.brewery}}
      <br/>
      {{beer.name}}
    </h2>
  </a>
  <div class="mdl-card__supporting-text">
    <span class="mdl-chip">
      <span class="mdl-chip__text">{{beer.style}}</span>
    </span>
    {% if beer.abv %}
    <span class="mdl-chip">
      <span class="mdl-chip__text">{{beer.abv|round(1)}}%</span>
    </span>
    {% endif %}
    {% if beer.ibu %}
    <span class="mdl-chip">
      <span class="mdl-chip__text">{{beer.ibu|int}} IBU</span>
    </span>
    {% endif %}
    <span class="mdl-chip">
      <span class="mdl-chip__text"><i class="fab fa-untappd"></i> {{beer.rating|round(2)}}</span>
    </span>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <ul class="demo-list-two mdl-list">
      {% for offering in beer.offerings | sort(attribute='price_per_ml') %}
      <a class="offering-item" href="{{offering.url}}">
        <li class="mdl-list__item mdl-list__item--two-line">
          <span class="mdl-list__item-primary-content">
            <span>{{offering.shop.name}}</span>
            <span class="mdl-list__item-sub-title">{{offering.price}}¥ - {{offering.milliliters}}mL ({{offering.price_per_ml | round(2)}}¥/mL)</span>
          </span>
        </li>
      </a>
      {% endfor %}
    </ul>
  </div>
</div>
