{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/shops.css"/>
{% endblock %}

{% block content %}
<div class="mdl-grid">
  {% for shop in shops %}
  <div class="mdl-cell mdl-cell--8-col mdl-cell--2-offset">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
      <!--<a href="{{shop.url}}">-->
      <!--  <div class="mdl-card__title">-->
      <!--  <h2 class="mdl-card__title-text beer-title">-->
      <!--  </h2>-->
      <!--</div>-->
      <div class="mdl-card__supporting-text">
        <div class="mdl-grid">
          <a class="mdl-cell mdl-cell--3-col shop-img" href="{{shop.url}}" style="background-image: url('{{shop.image_url}}');"></a>
          <div class="mdl-cell mdl-cell--8-col mdl-cell--1-offset">
            <h3>{{shop.name}}</h3>
            Typical shipping: {{shop.shipping_fee}}¥
            {% if shop.free_shipping_over %}</br>Free over {{shop.free_shipping_over}}¥{% endif %}
            </br>
            <a href="/beers?shop_id={{shop.shop_id}}">
              <i class="fas fa-beer"></i>
              See Beers
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
