.demo-card-wide.mdl-card {
    width: 100%;
}

.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 100px;
    text-decoration: none;
}

.demo-card-wide > .mdl-card__menu {
    color: #fff;
}

.demo-card-wide > .mdl-card__supporting-text {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
}

.demo-list-two.mdl-list {
    margin: 0px;
    padding: 0px;
}

.demo-list-two > .mdl-list__item--two-line {
    padding: 8px;
    height: auto;
}

.beer-title {
    text-shadow: 1px 1px 3px black;
}

.offering-item {
    text-decoration: none;
}

#style-menu {
    position: absolute;
    z-index: 42;
    background-color: white;
}

.treejs .treejs-nodes {
    padding-left: 10px !important;
    margin-top: 0px;
}
