.demo-card-wide.mdl-card {
    width: 100%;
}

.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 100px;
    text-decoration: none;
}

.demo-card-wide > .mdl-card__menu {
    color: #fff;
}

.demo-card-wide > .mdl-card__supporting-text {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
}

.demo-list-two.mdl-list {
    margin: 0px;
    padding: 0px;
}

.demo-list-two > .mdl-list__item--two-line {
    padding: 8px;
    height: auto;
}

.beer-title {
    text-shadow: 1px 1px 3px black;
}

.offering-item {
    text-decoration: none;
}

#style-menu, #country-menu {
    position: absolute;
    z-index: 42;
    background-color: white;
}

.treejs .treejs-nodes {
    padding-left: 10px !important;
    margin-top: 0px;
}

.had-check {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0.1em 0.3em 1.1em 1.1em;
    color: white;
    background: linear-gradient(45deg,  rgba(41,154,11,0) 0%, rgba(41,154,11,0) 50%, rgba(41,154,11,1) 51%, rgba(41,154,11,1) 100%);
}

.vertical-center {
    margin-top: auto;
    margin-bottom: auto;
}

.shrink-width {
    width: auto;
}
