<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Strinks">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="icon" type="image/png" href="/static/images/favicon.png">
    <title>Strinks</title>
    <script src="https://kit.fontawesome.com/70d9797945.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-deep_purple.min.css" />
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <!-- Wide card with share menu button -->
    <style>
      .demo-card-wide.mdl-card {
        width: 100%;
      }
      .demo-card-wide > .mdl-card__title {
        color: #fff;
        height: 100px;
        background: url('https://advancelocal-adapter-image-uploads.s3.amazonaws.com/image.mlive.com/home/mlive-media/width2048/img/michigan_beer/photo/2017/08/25/founders-cbsjpeg-3b0b8cf82f99f333.jpeg') center / cover;
      }
      .demo-card-wide > .mdl-card__menu {
        color: #fff;
      }
    </style>
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">Strinks</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
          <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/beers"><i class="fas fa-beer"></i> Beers</a>
            <a class="mdl-navigation__link" href="/shops"><i class="fas fa-store"></i> Shops</a>
          </nav>
        </div>
      </header>
      <main class="mdl-layout__content">
        <div class="page-content">

					<div class="mdl-grid">
						<div class="mdl-cell mdl-cell--4-col">
							<div class="demo-card-wide mdl-card mdl-shadow--2dp">
								<div class="mdl-card__title">
                  <h2 class="mdl-card__title-text">
                    Founders Brewing Co.
                    <br/>
                    Canadian Breakfast Stout (CBS)
                  </h2>
								</div>
								<div class="mdl-card__supporting-text">
                  <span class="mdl-chip">
                    <span class="mdl-chip__text">Stout - Imperial / Double Coffee</span>
                  </span>
                  <span class="mdl-chip">
                    <span class="mdl-chip__text">11.3%</span>
                  </span>
                  <span class="mdl-chip">
                    <span class="mdl-chip__text">45 IBU</span>
                  </span>
                  <span class="mdl-chip">
                    <span class="mdl-chip__text">4.47 <i class="fab fa-untappd"></i></span>
                  </span>
								</div>
								<div class="mdl-card__actions mdl-card--border">
                  <ul class="demo-list-two mdl-list">
                    <li class="mdl-list__item mdl-list__item--two-line">
                      <span class="mdl-list__item-primary-content">
                        <span>Beer Volta</span>
                        <span class="mdl-list__item-sub-title">¥1337 - 500mL</span>
                      </span>
                      <span class="mdl-list__item-secondary-content">
                        <a class="mdl-list__item-secondary-action" href="#"><i class="fas fa-store"></i></a>
                      </span>
                    </li>
                    <li class="mdl-list__item mdl-list__item--two-line">
                      <span class="mdl-list__item-primary-content">
                        <span>Chouseiya</span>
                        <span class="mdl-list__item-sub-title">¥1234 - 500mL</span>
                      </span>
                      <span class="mdl-list__item-secondary-content">
                        <a class="mdl-list__item-secondary-action" href="#"><i class="fas fa-store"></i></a>
                      </span>
                    </li>
                  </ul>
								</div>
								<div class="mdl-card__menu">
									<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
										<i class="fab fa-untappd"></i>
									</button>
								</div>
							</div>
						</div>
						<div class="mdl-cell mdl-cell--4-col">
							<div class="demo-card-wide mdl-card mdl-shadow--2dp">
								<div class="mdl-card__title">
                  <h2 class="mdl-card__title-text">
                    Founders Brewing Co.
                    <br/>
                    Canadian Breakfast Stout (CBS)
                  </h2>
								</div>
								<div class="mdl-card__supporting-text">
                  <span class="mdl-chip">
                    <span class="mdl-chip__text">Stout - Imperial / Double Coffee</span>
                  </span>
                  <span class="mdl-chip">
                    <span class="mdl-chip__text">11.3%</span>
                  </span>
                  <span class="mdl-chip">
                    <span class="mdl-chip__text">45 IBU</span>
                  </span>
                  <span class="mdl-chip">
                    <span class="mdl-chip__text">4.47 <i class="fab fa-untappd"></i></span>
                  </span>
								</div>
								<div class="mdl-card__actions mdl-card--border">
                  <ul class="demo-list-two mdl-list">
                    <li class="mdl-list__item mdl-list__item--two-line">
                      <span class="mdl-list__item-primary-content">
                        <span>Beer Volta</span>
                        <span class="mdl-list__item-sub-title">¥1337 - 500mL</span>
                      </span>
                      <span class="mdl-list__item-secondary-content">
                        <a class="mdl-list__item-secondary-action" href="#"><i class="fas fa-store"></i></a>
                      </span>
                    </li>
                    <li class="mdl-list__item mdl-list__item--two-line">
                      <span class="mdl-list__item-primary-content">
                        <span>Chouseiya</span>
                        <span class="mdl-list__item-sub-title">¥1234 - 500mL</span>
                      </span>
                      <span class="mdl-list__item-secondary-content">
                        <a class="mdl-list__item-secondary-action" href="#"><i class="fas fa-store"></i></a>
                      </span>
                    </li>
                  </ul>
								</div>
								<div class="mdl-card__menu">
									<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
										<i class="fab fa-untappd"></i>
									</button>
								</div>
							</div>
						</div>
						<div class="mdl-cell mdl-cell--4-col">
							<div class="demo-card-wide mdl-card mdl-shadow--2dp">
								<div class="mdl-card__title">
                  <h2 class="mdl-card__title-text">
                    Founders Brewing Co.
                    <br/>
                    Canadian Breakfast Stout (CBS)
                  </h2>
								</div>
								<div class="mdl-card__supporting-text">
                  <span class="mdl-chip">
                    <span class="mdl-chip__text">Stout - Imperial / Double Coffee</span>
                  </span>
                  <span class="mdl-chip">
                    <span class="mdl-chip__text">11.3%</span>
                  </span>
                  <span class="mdl-chip">
                    <span class="mdl-chip__text">45 IBU</span>
                  </span>
                  <span class="mdl-chip">
                    <span class="mdl-chip__text">4.47 <i class="fab fa-untappd"></i></span>
                  </span>
								</div>
								<div class="mdl-card__actions mdl-card--border">
                  <ul class="demo-list-two mdl-list">
                    <li class="mdl-list__item mdl-list__item--two-line">
                      <span class="mdl-list__item-primary-content">
                        <span>Beer Volta</span>
                        <span class="mdl-list__item-sub-title">¥1337 - 500mL</span>
                      </span>
                      <span class="mdl-list__item-secondary-content">
                        <a class="mdl-list__item-secondary-action" href="#"><i class="fas fa-store"></i></a>
                      </span>
                    </li>
                    <li class="mdl-list__item mdl-list__item--two-line">
                      <span class="mdl-list__item-primary-content">
                        <span>Chouseiya</span>
                        <span class="mdl-list__item-sub-title">¥1234 - 500mL</span>
                      </span>
                    </li>
                  </ul>
								</div>
								<div class="mdl-card__menu">
									<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
										<i class="fab fa-untappd"></i>
									</button>
									<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
										<i class="fas fa-store"></i>
									</button>
								</div>
							</div>
						</div>
					</div>

        </div>
      </main>
      <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
          <div class="mdl-logo">Strinks</div>
          <ul class="mdl-mini-footer__link-list">
            <li>Work in progress, PRs welcome!</li>
            <li><a href="https://github.com/Zeletochoy/strinks">Github</a></li>
          </ul>
        </div>
      </footer>
    </div>
  </body>
</html>
